language: objective-c
before_install:
    - gem install cocoapods --no-rdoc --no-ri --no-document --quiet
    - brew update
    - brew uninstall xctool && brew install xctool --HEAD
    - cd Tests && pod install && cd $TRAVIS_BUILD_DIR
script: rake test_for_target
env:
    - TEST_TARGET=ios
    - TEST_TARGET=osx
matrix:
    fast_finish: true
    allow_failures:
        - env: "TEST_TARGET=osx"
