language: objective-c
before_script:
  - export LANG=en_US.UTF-8
script: rake test_for_target
env:
    - TEST_TARGET=ios
    - TEST_TARGET=osx
matrix:
    fast_finish: true
    allow_failures:
        - env: "TEST_TARGET=osx"
